.calendar {
  display: flex;
  flex-wrap: wrap;
  align-content: center;

  width: $day-size * 7 + 6;
  min-height: $day-size * 6 + 6;
  height: 100vh;
  margin: auto;

  @for $i from 28 through 31 {
    &-#{$i} div:nth-child(-n + #{$i}) {
      position: relative;

      width: $day-size;
      height: $day-size;
      margin: 0 1px 1px 0;

      background: #eee;
      border: 1px solid black;

      counter-increment: date;

      &:hover {
        background: pink;

        transform: translate(0, -20px);
        transition: 500ms;
        cursor: pointer;
      }

      &::after {
        content: counter(date);
        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);
      }
    }
  }
}

@each $day, $number in $calendar-start {
  .calendar-#{$day} div {
    &:first-child {
      margin-left: #{$day-size * $number + $number};
    }

    &:nth-child(7n - #{$number}) {
      @include holiday;
      margin-right: 0;
    }

    &:nth-child(7n - #{$number + 1}) {
      @include holiday;
    }
  }
}
